* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  height: auto;
  background-color: #000000;
}

.landmarks {
  position: relative;
  display: flex;
  width:100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.logo{
  position: absolute;
  display: flex;
  width: 14%;
  top: 5px;
  right: 43%;
  z-index: 2;
}
