* {
    box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  background: black url(../images/ll.png) repeat 0 0;
  -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
  0% {background-position: 0 0;}
  12% {background-position: -10px 0;}
  24% {background-position: -10px -10px;}
  36% {background-position: 0 -10px;}
  48% {background-position: 0 0;}
  60% {background-position: 10px 0;}
  72% {background-position: 10px 10px;}
  84% {background-position: 0 10px;}
  96% {background-position: 0 0;}
}

header {
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  height: auto;
  background-color: rgba(0,0,0,0.7);
}

.landmarks {
  position: relative;
  display: flex;
  width:100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.logo{
  position: absolute;
  display: flex;
  width: 14%;
  top: 5px;
  right: 43%;
  z-index: 2;
}
